.pdf-header { padding:0px;  margin: 0 0 20px 0;}
.pdf-footer { padding:0px;  margin: 0; }


/*.page_number { text-align: right; display: block; font-size: 12px; margin-bottom: 10px;}*/

#pdf-content {margin: 20pt 0 0 0; width: 100%;background: #ccc;}
@page {
    size:auto;
    header: html_MyCustomHeader;
    footer: html_MyCustomFooter;
    padding: 100mm 0 10mm 0;
    margin: 45mm 16mm 27mm 16mm; 
}
table { page-break-inside:auto ;}

.notes{
    font-size: 10pt;
}
.imgsize{
    font-size: 5pt;
}
