#sidebar, .header, .site-footer {
    display: none ;
}
.header , .site-footer{
    min-height: 0;height: 0;max-height: 0; display: none;opacity: 0;visibility: hidden;
}
 .wrapper {margin: 0;min-height: auto;}
#main-content {
    margin-left: 0;
    width: 100%;
    margin-top: -80px;
}

td a{
    display: none;
}

.invoice-btn{
    display: none;
}
.invoice-btn a{
    display: none;
}


